<%- include("partials/header"); -%>

<body>

<div class="container-fluid">
	<% postUsers.forEach(function(post){ %>

	<%	post.bodyOfBlog.forEach(function(blogBody){ %>
			<h1 style="font-size:40px; font-weight:400"><%= blogBody.title %></h1>
			<p>
			<a class="anchorTags" href="/users/<%=post.userId %>/bodyOfBlog/<%= blogBody._id %>"><%= blogBody.content.substring(0, 100) + "...."%>
			</a>	</p>
	<%	}) %>
			<% }) %>


<%- include("partials/footer"); -%>
